/*
---------------------------------------------------------------
  Note that styles you apply to the main menu items are inherited by the sub menus items too.
  If you'd like to avoid this, you could use child selectors (not supported by IE6) - for example:
  .sm-mint > li > a { ... } instead of .sm-mint a { ... }
---------------------------------------------------------------*/


/* Menu box
===================*/

	.sm-camila {
		border-bottom:2px solid #000080;
		background:#fff;
	}
	.sm-camila-vertical {
		border-right:2px solid #000080;
		border-bottom:0;
	}
	.sm-camila ul {
		padding:8px 0;
		background:#eef;
		-moz-border-radius:0 4px 4px 4px;
		-webkit-border-radius:0 4px 4px 4px;
		border-radius:0 4px 4px 4px;
		-moz-box-shadow:0 4px 3px rgba(0,0,0,0.25);
		-webkit-box-shadow:0 4px 3px rgba(0,0,0,0.25);
		box-shadow:0 4px 3px rgba(0,0,0,0.25);
	}
	.sm-camila-vertical ul,
	.sm-camila ul ul {
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
	}


/* Menu items
===================*/

	.sm-camila a {
		border-bottom:2px solid #fff;
		padding:11px 12px 9px 12px;
		color:#000 !important;
		font-size:12px;
		font-weight:bold !important;
		line-height:17px;
		font-family:Verdana,sans-serif;
		text-decoration:none;
		-moz-border-radius:4px 4px 0 0;
		-webkit-border-radius:4px 4px 0 0;
		border-radius:4px 4px 0 0;
	}
	.sm-camila a:hover, .sm-camila a:focus, .sm-camila a:active {
		border-bottom-color:#000080;
		background:#000080;
		color:white !important;
		text-decoration:none;
	}
	.sm-camila a.highlighted {
		border-bottom-color:#000080 !important;
		background:#000080;
		color:white !important;
		-moz-box-shadow:0 4px 3px rgba(0,0,0,0.25);
		-webkit-box-shadow:0 4px 3px rgba(0,0,0,0.25);
		box-shadow:0 4px 3px rgba(0,0,0,0.25);
	}
	.sm-camila-vertical a {
		-moz-border-radius:4px 0 0 4px;
		-webkit-border-radius:4px 0 0 4px;
		border-radius:4px 0 0 4px;
	}
	.sm-camila-vertical a:hover, .sm-camila-vertical a:focus, .sm-camila-vertical a:active,
	.sm-camila-vertical a.highlighted {
		border-bottom-color:#000080 !important;
		background:#000080;
		color:#F6FFED;
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		box-shadow:none;
	}
	.sm-camila ul a {
		border-bottom:0;
		padding:10px 20px;
		font-size:14px;
		line-height:normal;
		-moz-border-radius:0;
		-webkit-border-radius:0;
		border-radius:0;
	}
	.sm-camila ul a:hover, .sm-camila ul a:focus, .sm-camila ul a:active,
	.sm-camila ul a.highlighted {
		background:#000080;
		color:#F6FFED;
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		box-shadow:none;
	}
	/* current items - add the class manually to some item or check the "markCurrentItem" script option */
	.sm-camila a.current, .sm-camila a.current:hover, .sm-camila a.current:focus, .sm-camila a.current:active {
		border-bottom-color:#000080;
	}
	.sm-camila-vertical a.current, .sm-camila-vertical a.current:hover, .sm-camila-vertical a.current:focus, .sm-camila-vertical a.current:active {
		border-right:2px solid #000080;
		border-bottom-color:#fff;
	}
	.sm-camila ul a.current, .sm-camila ul a.current:hover, .sm-camila ul a.current:focus, .sm-camila ul a.current:active {
		border-right:0;
		border-bottom:0;
		font-weight:bold;
	}
	.sm-camila a.has-submenu {
		padding-right:32px;
	}


/* Sub menu indicators
===================*/

	.sm-camila a span.sub-arrow {
		position:absolute;
		right:17px;
		top:50%;
		margin-top:-3px;
		/* we will use one-side border to create a triangle so that we don't use a real background image, of course, you can use a real image if you like too */
		width:0;
		height:0;
		overflow:hidden;
		border-top:6px solid #000080; /* tweak size of the arrow */
		border-left:4px dashed transparent;
		border-right:4px dashed transparent;
	}
	.sm-camila a:hover span.sub-arrow, .sm-camila a:focus span.sub-arrow, .sm-camila a:active span.sub-arrow {
		border-top-color:#F6FFED;
	}
	.sm-camila a.highlighted span.sub-arrow {
		border-top-color:#000080;
	}
	.sm-camila-vertical a span.sub-arrow,
 	.sm-camila ul a span.sub-arrow {
		right:15px;
		margin-top:-4px;
		border-left:6px solid #000080; /* tweak size of the arrow */
		border-top:4px dashed transparent;
		border-bottom:4px dashed transparent;
	}
	.sm-camila-vertical a:hover span.sub-arrow, .sm-camila-vertical a:focus span.sub-arrow, .sm-camila-vertical a:active span.sub-arrow,
	.sm-camila-vertical a.highlighted span.sub-arrow,
 	.sm-camila ul a:hover span.sub-arrow, .sm-camila ul a:focus span.sub-arrow, .sm-camila ul a:active span.sub-arrow,
 	.sm-camila ul a.highlighted span.sub-arrow {
		border-left-color:#F6FFED;
		border-top-color:transparent;
	}


/* Scrolling arrows containers for tall sub menus - test sub menu: "Sub test" -> "more..." in the default download package
===================*/

	.sm-camila span.scroll-up, .sm-camila span.scroll-down {
		position:absolute;
		display:none;
		visibility:hidden;
		overflow:hidden;
		background:#F6FFED;
		height:20px;
		/* width and position will be automatically set by the script */
	}
	.sm-camila span.scroll-up-arrow, .sm-camila span.scroll-down-arrow {
		position:absolute;
		top:6px;
		left:50%;
		margin-left:-8px;
		/* we will use one-side border to create a triangle so that we don't use a real background image, of course, you can use a real image if you like too */
		width:0;
		height:0;
		overflow:hidden;
		border-bottom:8px solid #000080; /* tweak size of the arrow */
		border-left:6px dashed transparent;
		border-right:6px dashed transparent;
	}
	.sm-camila span.scroll-down-arrow {
		border-top:8px solid #000080; /* tweak size of the arrow */
		border-bottom:0;
	}


/*
---------------------------------------------------------------
  Responsiveness
  These will make the sub menus collapsible when the screen width is too small.
---------------------------------------------------------------*/


/* decrease horizontal main menu items left/right padding to avoid wrapping */
@media screen and (max-width: 850px) {
	.sm-camila:not(.sm-camila-vertical) > li > a {
		padding-left:12px;
		padding-right:12px;
	}
	.sm-camila:not(.sm-camila-vertical) > li > a.has-submenu {
		padding-right:24px;
	}
	.sm-camila:not(.sm-camila-vertical) a span.sub-arrow {
		right:9px;
	}
}
@media screen and (max-width: 720px) {
	.sm-camila:not(.sm-camila-vertical) > li > a {
		padding-left:6px;
		padding-right:6px;
	}
	.sm-camila:not(.sm-camila-vertical) > li > a.has-submenu {
		padding-right:18px;
	}
	.sm-camila:not(.sm-camila-vertical) a span.sub-arrow {
		right:3px;
	}
}

@media screen and (max-width: 640px) {

	/* The following will make the sub menus collapsible for small screen devices (it's not recommended editing these) */
	ul.sm-camila{width:auto !important;}
	ul.sm-camila ul{display:none;position:static !important;top:auto !important;left:auto !important;margin-left:0 !important;margin-top:0 !important;width:auto !important;min-width:0 !important;max-width:none !important;}
	ul.sm-camila>li{float:none;}
	ul.sm-camila>li>a,ul.sm-camila ul.sm-nowrap>li>a{white-space:normal;}
	ul.sm-camila iframe{display:none;}

	/* Uncomment this rule to disable completely the sub menus for small screen devices */
	/*.sm-camila ul, .sm-camila span.sub-arrow, .sm-camila iframe {
		display:none !important;
	}*/


/* Menu box
===================*/

	.sm-camila {
		border-top:2px solid #000080;
		border-bottom:2px solid #000080;
		border-right:0;
	}
	.sm-camila ul {
		border:0;
		padding:0;
		/* darken the background of the sub menus */
		background:rgba(141,184,99,0.2);
		-moz-border-radius:0 !important;
		-webkit-border-radius:0 !important;
		border-radius:0 !important;
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		box-shadow:none;
	}


/* Menu items
===================*/

	.sm-camila a {
		border:0 !important;
		padding:13px 23px !important;
		background:transparent !important;
		color:#000 !important;
		-moz-border-radius:0 !important;
		-webkit-border-radius:0 !important;
		border-radius:0 !important;
		-moz-box-shadow:none !important;
		-webkit-box-shadow:none !important;
		box-shadow:none !important;
	}
	.sm-camila a.current {
		font-weight:bold;
	}
	/* add some text indentation for the 2+ level sub menu items */
	.sm-camila ul a {
		border-left:8px solid transparent !important;
	}
	.sm-camila ul ul a {
		border-left:16px solid transparent !important;
	}
	.sm-camila ul ul ul a {
		border-left:24px solid transparent !important;
	}
	.sm-camila ul ul ul ul a {
		border-left:32px solid transparent !important;
	}
	.sm-camila ul ul ul ul ul a {
		border-left:40px solid transparent !important;
	}


/* Sub menu indicators
===================*/

	.sm-camila a span.sub-arrow {
		right:auto !important;
		margin-top:-7px !important;
		margin-left:-16px !important;
		border-left:9px solid #000080 !important; /* tweak size of the arrow */
		border-top:6px dashed transparent !important;
		border-bottom:6px dashed transparent !important;
	}
	/* Hide sub indicator when item is expanded - we enable the item link when it's expanded */
	.sm-camila a.highlighted span.sub-arrow {
		display:none !important;
	}




/* Items separators
===================*/

	.sm-camila li {
		border-top:1px solid rgba(141,184,99,0.2);
	}
	.sm-camila li:first-child {
		border-top:0;
	}

}



body {
  color: black;
  font-size: 15px;
  overflow-x: hidden;
  background: #d9dde2 none repeat scroll 0 0;
  color: #19425b;
  font-family: "proximanova-regular","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.top{
	background-color: #1b425a;
	height:30px;
	width: 100%;
}
a{
	-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu-top{
	line-height: 30px;
	font-family: 'proxima_novalight';
    color: white;
	padding-left: 10px;
	font-size: 13px;
}
.menu-top:hover{
    color: white !important;
	text-decoration: none !important;
	opacity: 0.6;
}
