<?xml version='1.0' standalone='yes'?>
<menu>
 <tab>
  <id>m0</id>
  <title>GESTIONE RISORSE</title>
  <url>?dashboard=m0</url>
  <pages>02,03,04,27,28</pages>
 </tab>
 <tab>
  <id>m1</id>
  <title>REPORT</title>
  <url>?dashboard=m1</url>
  <pages>01,12,12l</pages>
 </tab>
 <tab>
  <id>m5</id>
  <title>VERIFICA DATI</title>
  <url>?dashboard=m5</url>
  <pages>ic1</pages>
 </tab>
 <tab>
  <id>m3</id>
  <title>PIANIFICAZIONE</title>
  <url>?dashboard=m3</url>
  <pages>22,23,24,25,26</pages>
 </tab>
 <tab>
  <id>m2</id>
  <title>CONFIGURAZIONE</title>
  <url>?dashboard=m2</url>
  <pages>00,05,06,30,31</pages>
 </tab>
 <tab>
  <id>m4</id>
  <title>AIUTO</title>
  <url>?dashboard=m4</url>
 </tab>
</menu>