<meta http-equiv="Content-Type" content="text/html; charset=[onshow.charset]" />
<link rel="icon" href="images/favicon.ico" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
[onshow.timeout;strconv=no]
<!--[if lt IE 9]>
<script src="../../camila/js/html5shiv/html5shiv.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<script src="../../camila/js/respond.js/respond.min.js"></script>
<![endif]-->
<meta http-equiv="Cache-Control" content="must-revalidate" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Cache-Control" content="max-age=0" />
<meta http-equiv="Expires" content="0" />
[onshow.headjsscripts;strconv=no;noerr]